DATABASE_URL=postgresql+asyncpg://{USER}:{PASSWORD}@localhost:5433/hype
JWT_SECRET_KEY=troque_por_uma_chave_aleatoria
JWT_EXPIRE_MINUTES=60
FRONTEND_ORIGIN=http://localhost

INITIAL_PO_NAME=name_PO
INITIAL_PO_EMAIL=email_PO
INITIAL_PO_PASSWORD=password_PO

POSTGRES_HOST_PORT=port
POSTGRES_USER=hype
POSTGRES_PASSWORD=password
POSTGRES_DB=hype